@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form action="Spaceship">
        <input type="submit" value="spaceship" name="Blue Blazer"><input>

        <input type="submit" value="spaceship" name="Grass Glider"><input>

        <input type="submit" value="spaceship" name="Folk Flyer"><input>


    </form>

    <h1> You have chose </h1>


}
